/* Skeleton*/
.container {
  display: flex;
  margin: 0 10%;
}

.container div {
  padding: 0.5em;
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
}

/* Avatar*/
.photo {
  border: 1px black solid;
  margin-top: 15%;
  text-align: center;
}

.outer-circle {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
}

.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay {
  background-color: rgba(47, 141, 218, 1);
  background: linear-gradient(
    65deg,
    rgba(46, 204, 113, 0.4),
    rgba(243, 156, 18, 0.4)
  );
  color: #fafafa;
  font-size: 24px;
}

.img__overlay:hover {
  opacity: 1;
}

.name {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
  line-height: 36px;
  letter-spacing: 1px;
  margin: 10px;
}

.profile {
  border: 1px red solid;
}

.contact {
  border: 1px green solid;
}

.skill {
  border: 1px purple solid;
}

.education {
  border: 1px red solid;
}

.experience {
  border: 1px green solid;
}

.achievement {
  border: 1px purple solid;
}
